body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:24px;
  width:224px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:74px;
  width:144px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:16px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:117px;
  width:1119px;
  height:105px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:16px;
}
#u19 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:293px;
  width:196px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:339px;
  width:395px;
  height:511px;
  display:flex;
  transition:none;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:511px;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:37px;
  background:inherit;
  background-color:rgba(112, 155, 102, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:852px;
  width:395px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:339px;
  width:251px;
  height:253px;
  display:flex;
  transition:none;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:253px;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:519px;
  width:251px;
  height:108px;
  display:flex;
  transition:none;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:108px;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 161, 101, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:481px;
  width:250px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:12px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:912px;
  width:849px;
  height:192px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-style:normal;
  font-size:12px;
}
#u26 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:483px;
  width:9px;
  height:8px;
  display:flex;
  transition:none;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:855px;
  width:9px;
  height:8px;
  display:flex;
  transition:none;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:1207px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:723px;
  width:330px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-63.21853044606417deg);
  -moz-transform:rotate(-63.21853044606417deg);
  -ms-transform:rotate(-63.21853044606417deg);
  transform:rotate(-63.21853044606417deg);
  transition:none;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-18px;
  width:359px;
  height:39px;
}
#u30p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:338px;
  height:10px;
  -webkit-transform:rotate(0.2185304460641717deg);
  -moz-transform:rotate(0.2185304460641717deg);
  -ms-transform:rotate(0.2185304460641717deg);
  transform:rotate(0.2185304460641717deg);
}
#u30p000_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:338px;
  height:10px;
}
#u30p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-12px;
  width:30px;
  height:28px;
  -webkit-transform:rotate(0.2185304460641717deg);
  -moz-transform:rotate(0.2185304460641717deg);
  -ms-transform:rotate(0.2185304460641717deg);
  transform:rotate(0.2185304460641717deg);
}
#u30p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:30px;
  height:28px;
}
#u30p002 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:-19px;
  width:44px;
  height:42px;
  -webkit-transform:rotate(180.21853044606416deg);
  -moz-transform:rotate(180.21853044606416deg);
  -ms-transform:rotate(180.21853044606416deg);
  transform:rotate(180.21853044606416deg);
}
#u30p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:311px;
  width:402px;
  height:711px;
  display:flex;
  transition:none;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:711px;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:609px;
  width:254px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(61.130802744742084deg);
  -moz-transform:rotate(61.130802744742084deg);
  -ms-transform:rotate(61.130802744742084deg);
  transform:rotate(61.130802744742084deg);
  transition:none;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-18px;
  width:283px;
  height:39px;
}
#u32p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:264px;
  height:10px;
  -webkit-transform:rotate(-0.1308027447420841deg);
  -moz-transform:rotate(-0.1308027447420841deg);
  -ms-transform:rotate(-0.1308027447420841deg);
  transform:rotate(-0.1308027447420841deg);
}
#u32p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:10px;
}
#u32p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-12px;
  width:30px;
  height:26px;
  -webkit-transform:rotate(-0.1308027447420841deg);
  -moz-transform:rotate(-0.1308027447420841deg);
  -ms-transform:rotate(-0.1308027447420841deg);
  transform:rotate(-0.1308027447420841deg);
}
#u32p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u32p002 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-19px;
  width:42px;
  height:42px;
  -webkit-transform:rotate(-180.13080274474208deg);
  -moz-transform:rotate(-180.13080274474208deg);
  -ms-transform:rotate(-180.13080274474208deg);
  transform:rotate(-180.13080274474208deg);
}
#u32p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
